@font-face {
    font-family: Freestyle;
    src: url(../fonts/brushed.ttf);
}

@font-face {
    font-family: Murder;
    src: url(../fonts/youmurdererbb_reg.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #363636;
    overflow: hidden;
}

#intro, #chooseCharacter {
    visibility: hidden;
}

.powerBar{
    display: none !important;
}

/* required */
/* #game, #chooseCharacter {
    visibility: hidden;
}

.powerBar { 
    visibility: hidden;
    display: none
} */

/* header/footer */
header {
    background-color: #4f4f4f;
    position: absolute;
    top: 0;

    width: 100%;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Murder;
    font-size: 200%;
    color: #4f4f4f;

    z-index: -1
}

header:hover {
    color: white;
}

footer {
    background-color: #4f4f4f;
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 2vh;

    z-index: -1
}

/* intro/intersection */
#intro {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5vh;
}

#intro h1 {
    color: white;
    font-family: Freestyle;
    font-size: 7rem;
}

#intro section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

/* button */
form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form>button {
    height: 50px;
    width: 100px;

    border-radius: 10px;
    border: none;

    font-size: 1.5rem;

    color: #4f4f4f;
    font-weight: bold;

    transition: all 0.075s;
}

form>button:hover {
    filter: drop-shadow(0 0 0.5rem rgb(255, 255, 255));
    font-size: 1.75rem;
}

/* belts */
.belt {
    position: absolute;

    width: 100%;
    height: 100px;
    display: flex;

    justify-content: center;

    overflow: hidden;

    z-index: -1
}

@media only screen and (max-width: 430px) {
    #intro > section > h1{
        font-size: 5.5rem
    }
}

.belt:nth-of-type(1) {
    top: 6vh;
    
}

.topHome {
    animation: moveLeft 2s linear infinite;
}

.belt:nth-of-type(2) {
    bottom: 3vh;
}

.bottomHome {
    animation: moveRight 2s linear infinite;
}

@keyframes moveLeft {
    100% {
        transform: translateX(-100px);
    }
}

@keyframes moveRight {
    100% {
        transform: translateX(100px)
    }
}

@media only screen and (max-width: 400px) {
    .belt {
        height: 60px;
    }

    .topHome {
        animation: moveLeft 1.5s linear infinite;
    }

    .bottomHome {
        animation: moveRight 1.5s linear infinite;
    }

    @keyframes moveLeft {
        100% {
            transform: translateX(-60px)
        }
    }

    @keyframes moveRight {
        100% {
            transform: translateX(60px)
        }
    }
}

@media only screen and (max-height: 725px) {
    .belt {
        height: 35px;
    }
    @keyframes moveLeft {
        100% {
            transform: translateX(-35px)
        }
    }

    @keyframes moveRight {
        100% {
            transform: translateX(35px)
        }
    }
}

/* title animation */
#intro h1:nth-of-type(1) {
    animation: bounce 6s ease infinite;
}

#intro h1:nth-of-type(2) {
    animation: bounce2 6s ease infinite;
}

#intro  h1:nth-of-type(3) {
    animation: bounce3 6s ease infinite;
}
  
@keyframes bounce {
    0% { transform:translateY(0%); }
    10% { transform:translateY(-15%); }
    20% { transform:translateY(0%); }
    25% { transform:translateY(-7%); }
    27% { transform:translateY(0%); }
    29% { transform:translateY(-3%); }
    30% { transform:translateY(0); }
}

@keyframes bounce2 {
    30% { transform:translateY(0%); }
    40% { transform:translateY(-15%); }
    50% { transform:translateY(0%); }
    55% { transform:translateY(-7%); }
    57% { transform:translateY(0%); }
    59% { transform:translateY(-3%); }
    60% { transform:translateY(0); }
}

@keyframes bounce3 {
    60% { transform:translateY(0%); }
    70% { transform:translateY(-15%); }
    80% { transform:translateY(0%); }
    85% { transform:translateY(-7%); }
    87% { transform:translateY(0%); }
    89% { transform:translateY(-3%); }
    90% { transform:translateY(0); }
}

/* game things */
#game {
    position: absolute;
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    padding-top: 3vh;
}

#containGame > h1 {
    text-align: center;
    background-color: yellow;

    color: black;

    font-size: 1.25rem;
}

#game > div > section {
    
    background-color: #86B6FF;
    height: 65vh;
    width: 100vw;
    max-width: 1750px;
    border: 5px solid white;
    border-top: none;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#topSec {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    width: 100%;
    max-width: 800px;
    flex-basis: 80%;
}

.row {
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5px;
}

.sq {
    background-color: white;
    opacity: .5;
    width: 60px;
    height: 100%;
}

#bottomSec {
    background-color: #FFE177;
    width: 100%;
    flex-basis: 20%;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#boatSelection {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    gap: 2vh;
    padding-bottom: 2vh;

}

#boatSelection > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

#boatSelection h1 {
    text-align: center;
    filter: drop-shadow(0 1px 0.1rem black);
}

#boatSelection > div img {
    max-height: 65px;
}

#boatSelection > div img:hover {
    filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
}

/* #boatSelection > div img:active {
    border: 3px solid white;
}
 */

 /* chooseCharacter */
#chooseCharacter {
    position: absolute;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
}

#frame {
    width: 100%;
    height: 100%;

    max-height: 600px;
    max-width: 1200px;

    padding: 25px 25px 0 25px;

    display: flex;
}

ul {
    text-align: start;
    padding-right: 30px;
}

li:nth-of-type(1), li:nth-of-type(3) {
    margin-top: 20px;
}

#shaman, #riceFarmer {
    flex-basis: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#shaman > img, #riceFarmer > img {
    max-height: 50%;
    max-width: 100%;
}

#shaman {
    background-color: rgb(255, 0, 60);
}

#shaman:hover {
    background-color: rgb(108, 0, 25);
}

#riceFarmer {
    background-color: rgb(15, 0, 184);
}

#riceFarmer:hover {
    background-color: rgb(7, 0, 86);
}

#consoleFrame {
    width: 100%;
    max-width: 1200px;
    padding: 0 25px 0 25px;
}

#consoleFrame > h3 {
    background-color: yellow;
    width: 100%;
    text-align: center;
}

#chooseCharacter, #frame, #frame img { 
    transition: width 1s, height, 1s, opacity 1s
}

/* powerBar */
.powerBar {
    
}

.powerBar div {
    display: flex;
    gap: 3vw;
}

.powerbar div {
    flex-basis: 50%;
}

.powerBar div section img {
    max-height: 100px;
}

.powerBar div section img:hover {
    filter: brightness(75%)
}

.powerBar div section p {
    max-width: 100px;
    background-color: green;
}

#ua-neeg {
    border: 5px solid red;
}

#poj-dab {
    border: 5px solid blue;
}

#strawhat-tracker {
    border: 5px solid purple;
}

#rice-blessing {
    border: 5px solid white;
}

.powerBar h1 {
    text-align: center;
    filter: drop-shadow(0 1px 0.1rem black);
}