@font-face {
    font-family: Freestyle;
    src: url(../fonts/FactuallyHandwritingPersonalRegular-1GOp0.otf);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #363636;
    overflow: hidden;
}

/* header/footer */
header {
    background-color: #4f4f4f;
    position: absolute;
    top: 0;

    width: 100%;
    height: 5vh;
}

footer {
    background-color: #4f4f4f;
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 2vh;
}

/* intro/intersection */
#intro {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1vh;
}

#intro h1 {
    color: white;
    font-family: Freestyle;
    font-size: 7rem;
}

#intro section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

/* button */
form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form>button {
    height: 50px;
    width: 100px;

    border-radius: 10px;
    border: none;

    font-size: 1.5rem;

    color: #4f4f4f;
    font-weight: bold;

    transition: all 0.075s
}

form>button:hover {
    filter: drop-shadow(0 0 0.5rem rgb(255, 255, 255));
    font-size: 1.75rem;
}

/* belts */
.belt {
    position: absolute;

    width: 150%;
    background-color: grey;
    height: 100px;
    display: flex;

    justify-content: center;

    overflow: hidden;
}

.belt:nth-of-type(1) {
    top: 6vh;
    animation: moveLeft 1s linear infinite;
}

.belt:nth-of-type(2) {
    bottom: 3vh;
    animation: moveRight 1s linear infinite;
}

@keyframes moveLeft {
    100% {
        transform: translateX(-100px);
    }
}

@keyframes moveRight {
    100% {
        transform: translateX(100px)
    }
}

@media only screen and (max-width: 400px) {
    .belt {
        height: 60px;
    }

    .belt:nth-of-type(1) {
        animation: moveLeft .75s linear infinite;
    }

    .belt:nth-of-type(2) {
        animation: moveRight .75s linear infinite;
    }

    @keyframes moveLeft {
        100% {
            transform: translateX(-60px)
        }
    }

    @keyframes moveRight {
        100% {
            transform: translateX(60px)
        }
    }
}

@media only screen and (max-height: 725px) {
    .belt {
        height: 35px;
    }
    @keyframes moveLeft {
        100% {
            transform: translateX(-35px)
        }
    }

    @keyframes moveRight {
        100% {
            transform: translateX(35px)
        }
    }
}