@font-face {
    font-family: Kumar;
    src: url(../fonts/KumarOne-Regular.ttf);
}

@font-face {
    font-family: IBM;
    src: url(../fonts/IBMPlexMono-Regular.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #3E3E3E;
    font-family: Kumar;
}

.mountsec {
    overflow-x: hidden;
    position: absolute;


    width: 100%;
    height: 100%;
    max-height: 75px;

    display: flex;
    justify-content: center;
}

.mountsec img {
    height: 100%;
    max-height: 75px;
    opacity: .45;
}

#mountain-top {
    top: 0;
}

#mountain-top img {
    transform: rotate(180deg)
}

#mountain-bottom {
    bottom: 0;
}

#logo { 
    max-width: 450px;
    filter: drop-shadow(0 0 1rem rgb(255, 217, 0));
}

#intro {
    position: absolute;
    
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#intersection {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    color: white;
    line-height: 50px;
    
    height: 100%;
    max-height: 250px;
}

#intersection h1 {
    font-size: 500%
}

#intersection h2 {
    font-size: 150%;
    font-family: IBM;
}

#intro form {
    margin-top: 1vh;

    width: 100%;
    height: 100%;
    max-width: 175px;
    max-height: 50px;

    display: flex;
    justify-content: center;
}

#intro form button {
    width: 100%;
    border-radius: 1rem;
    border: none;

    font-family: Kumar;
    background-color: #4E4E4E;
    color: white;

    font-size: 200%;
    transition: all .5s;
}

#intro form button:hover {
    background-color: #626262;
    border-radius: 5rem;
    font-size: 205%;
    box-shadow: 0 0 25px 5px white;
}